.ItemDetail {
    width: 75%;
    float: left;
    display: flex;
    align-items: center;
}

.ItemImg  {
    width: 30%;
    height: 20%;
}

.Description {
    width: 50%;
}

.Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top: 5%;
}