.ItemDetail {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.ItemImg  {
    width: 30%;
    height: 20%;
}

.Description {
    width: 50%;
}

.Data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-top: 5%;
}


.terminar {
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(143, 172, 250);
    padding: 12px;
    color: white;
    margin: 10%;
    white-space: nowrap;
}

.terminar:hover {
    background-color: rgb(114, 150, 250);
}