.ItemListContainer {
    background-color:white;
    width: 94%;
    height: 75vh;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.ItemListContainer h1 {
    font-size: 20px;
}

.ItemContainer {
    display: flex;
}