.Item {
    width: 200px;
    height: auto;
    background-color: rgb(243, 243, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 5px;
}

.Item p {
    margin-top: 2px;
}

.Item img {
    width: 100px;
    height: 100px;
}

.Item h1 {
    font-size: 17px;
    margin-top: 1%;
}

.detalle-button {
    text-decoration: none;
    background-color: rgb(252, 112, 112);
    padding: 7px;
    color: white;
    margin-top: 10%;
    border-radius: 2px;
}

.detalle-button:hover {
    background-color: rgb(146, 177, 206);
}