@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

nav {
    height: 70px;
    align-items: center;
    background-color: rgb(78, 104, 126);
}

.logo {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    display: inline;
    position: absolute;
    left: 0px;
}

.name {
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
    left: 8%;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    font-size: 35px;
    text-decoration: none;
}

.navbar-sections {
    display: flex;
    width: 30%;
    height: 70px;
    position: absolute;
    left: 35%;
    justify-content: center;
    align-items: center;
}

.nav-button {
    display: flex;
    border: none;
    height: 100%;
    width: 50%;
    background-color: rgb(78, 104, 126);
    color: white;
    font-family: Verdana;
    font-size: 18px;
    text-decoration: none;
    justify-content: center;
    align-items: center;


}

.nav-button:hover {
    background-color: rgb(252, 112, 112);
}