.ItemCount {
    float: right;
    display: flex;
    flex-direction: column;
    margin: 6%;
}

.Controls {
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 15px;
}

.Display {
    display: flex;
    background-color: white;
    height: 50px;
    width: 100%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.Agregar {
    background-color:  rgb(252, 112, 112);
    padding: 15px;
    width: auto;
    white-space: nowrap;
    color: white;
    border-radius: 7px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Agregar:hover {
    background-color: rgb(146, 177, 206);
}