.ItemCount {
    background-color: white;
    height: 200px;
    width: 300px;
    float: right;
    display: inline;
    margin: 6%;
}

.Controls {
    display: flex;
    align-items: center;
}

.Display {
    background-color: white;
    height: 50px;
    width: 100%;
    font-size: 25px;
}

.Agregar {
    background-color:  rgb(252, 112, 112);
    padding: 15px;
    width: auto;
    white-space: nowrap;
}